#!/usr/bin/make -f
export DH_VERBOSE = 1

SERVER_NAME := casparcg-server-$(shell dpkg-parsechangelog -SVersion | cut -d. -f1,2)

%:
	dh $@ -Dsrc

override_dh_auto_configure:
	dh_auto_configure -- -DCASPARCG_BINARY_NAME=$(SERVER_NAME) \
		-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON -DUSE_STATIC_BOOST=OFF -DUSE_SYSTEM_CEF=ON
